body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.search-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  padding: 8px 700px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-container button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}

.favourite {
  text-align: center;
  border: 1px solid red;
  margin: 20px;
}



button:hover {
  background-color: #3367d6;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  text-align: center;
  margin: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 20rem;
  background-color: #fff;
}

li img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

li h2 {
  font-size: 2rem;
  margin: 1rem;
}

li p {
  font-size: 1.5rem;
  margin: 1rem;
}